
.Header {
    background: none
}

/* second header */
.bg-gray-light {
    background: var(--ok-nav-bg) !important
}





.btn-primary {
    background: #314f69;
    border-color: #314f69;
}





/* ================================================ */
/* ==============  Files List Area  =============== */
/* ================================================ */
/* files area */
.Box {
    background:none
}
.js-navigation-container,
.Box-header {
    background: #0002
}

/* focus item */
.Box-row--focus-gray.navigation-focus {
    background-color: #fff1;
}





/* ================================================ */
/* ==============  Code Preview Area  ============= */
/* ================================================ */
/* entire background */
.Box.js-code-block-container {
    margin-top: 4rem;
    background: none
}

/* header */
.bg-white {
    background: #0004 !important
}

/* body */
.Box-body {
    background: #0006
}





/* ================================================ */
/* ==================  Markdown  ================== */
/* ================================================ */
.markdown-body h2 {
    margin-top: 6rem
}


.markdown-body .highlight pre,
.markdown-body pre {
    background: var(--ok-code-bg)
}
