/* ================================================ */
/* ===================  GLOBAL  =================== */
/* ================================================ */

/* 全体背景 */
#sitecontent {
    background: var(--ok-bg)
}




#subscriptions_buttons,
#sb_rp_tools,
#reader_pane,
.article_subscribed,
#three_way_contents,
.article_full_contents,
.article_footer,
#sb_tp_search_overlay,
fieldset {
    background: none
}

#three_way_contents,
.article_full_contents {
    border: none
}

.column_view_thumbnail {
    opacity: 1;
    filter: brightness(0.4);
}

.article_header_text,
.article_feed_title {
    color: #444;
}

.article_title {
    font-size: 27px;
    margin-top: 3rem;
}

/* サイドメニュー背景 */
#sb_tree_part,
#tree_pane {
    background: var(--ok-bg-accent)
}



#feed_searcher {
    background: #0008
}

#wraper #reader_pane.reader_pane_view_style_0 .articles_feed_group_heading,
#wraper #reader_pane.reader_pane_view_style_2 .articles_feed_group_heading {
    background-color: #303542;
}

/* ヘッダー項目、アップグレードボタン */
#sb_rp_ribbon,
#sb_rp_upgrade {
    display: none
}





/* MAIN Row width */
#splitter {
    max-width: 80rem
}



/* ================================================ */
/* ===============  Reader column  ================ */
/* ================================================ */
#reader_pane.reader_pane_sinner {
    padding: 0;
}

/* hide ad top of reader pane */
.leaderboard_ad,
.ad_title,
.ad_title_centered {
    display: none
}

/* 記事 */
.article_magazine.article_subscribed {
    background-color: rgb(80 80 80 / 50%);
}

/* unread article */
.reader_pane_view_style_2 .article_unreaded {
    background: #27242d;
    color: #000;
}

.article_unreaded .article_header_title {
    color: #ccc;
}


/* Article Width */
.article_content, .article_footer {
    max-width: 50rem
}




/* RightSide Advertisement */
#sinner_container {
    display: none !important
}