/* ==UserStyle==
@name           www.pixiv.net
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         okshouiti
@preprocessor   stylus
==/UserStyle== */

@-moz-document url-prefix("https://www.pixiv.net/") {
    *:visited
        color #3e464b !important;
}