/* ================================================ */
/* =================  Dark Yanagi  ================ */
/* ================================================ */
:root {
    --ok-bg: #273537;
    --ok-bg-acrylic: rgba(33, 43, 37, 0.5);
    --ok-bg-acrylic-filter: blur(10px);
    --ok-shadow-thin: 0px 0px 4px 0px #000;
    --ok-input-bg-acrylic: rgba(0, 0, 0, 0.4);
    --ok-color: #999;
    --ok-link-color: #99b195;
    --ok-nav-bg: #2D2D2B;
    --ok-nav-color: #666;
    --ok-headline-color: #ddd;
    --ok-code-bg: #07070757;
    --ok-code-color: #aaa;
    /*--ok-inline-code-color: #d29f90;*/
    --ok-inline-code-bg: #fff1;
    --ok-inline-code-color: #438c87;
    --ok-btn-bg: #0003;
    --ok-btn-color: #000;
    --ok-btn-border: #111 1px solid;
    --ok-scroll-thumb: #56776e;
    --ok-scroll-thumb-hover: #75ab9c
}



/* ================================================ */
/* ================  Hokusai Blue  ================ */
/* ================================================ */
/*
:root {
    --ok-bg: #1d2129;
    --ok-bg-accent: #2c3037; /* #fff1と同じ
    --ok-bg-acrylic: #fff1;
    --ok-color: #999;
    --ok-link-color: #597fa2;
    --ok-nav-bg: #171b22;
    --ok-nav-color: #666;
    --ok-headline-color: #ddd;
    --ok-code-bg: #07070757;
    --ok-code-color: #aaa;
    /*--ok-inline-code-color: #d29f90;
    --ok-inline-code-bg: #fff1;
    --ok-inline-code-color: #29cec1;
    --ok-btn-bg: #0003;
    --ok-btn-color: #000;
    --ok-btn-border: #111 1px solid;
    --ok-scroll-thumb: #494840;
    --ok-scroll-thumb-hover: #fff5
}
*/



/* ================================================ */
/* =================  Creamy Dark  ================ */
/* ================================================ */
/*
:root {
    --ok-bg: #1e1e1c;
    --ok-color: #999;
    --ok-link-color: #e8a592;
    --ok-nav-bg: #2D2D2B;
    --ok-nav-color: #666;
    --ok-headline-color: #ddd;
    --ok-code-bg: #07070757;
    --ok-code-color: #aaa;
    /*--ok-inline-code-color: #d29f90;
    --ok-inline-code-bg: #fff1;
    --ok-inline-code-color: #438c87;
    --ok-btn-bg: #0003;
    --ok-btn-color: #000;
    --ok-btn-border: #111 1px solid;
    --ok-scroll-thumb: #494840;
    --ok-scroll-thumb-hover: #fff5
}
*/