    // ----------  aaa  ----------
    
    // ヘッダー
    #globalheader > .headinner
        background var(--ok-bg-accent)
    
    // ©などのクレジット
    .credit
        display none
    
    // フッター
    #globalfooter .f1,
    #globalfooter .f2
        background var(--ok-bg)
    
    
    
    
    
// ----------  番組一覧ページ  ----------
    
// 一覧ページ
#container
    background var(--ok-bg)
    
// 放送回番組概要
.programlist ul li .progtitle h3 + p.summary
    color var(--ok-color)
    
    
    
    
    
// ----------  動画ページ  ----------
    
// 動画エリア
.video-section
    background var(--ok-bg)
    
@media screen and (min-width 768px)
    .video-section .inner,
    .vod-section .inner
        max-width 70%

// これまでの放送
section.vod-section
    background var(--ok-bg-accent)

// 出演者情報
section.cast-section
    background var(--ok-bg)

// あなたにおすすめ
section#recommend
    background var(--ok-bg-accent)





/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
// 追加分


// /* 動画右のランキング */
// .companionad-right {
//     display: none;
// }


// .programlist.normal ul li .progtitle {
//     color: #fff;
// }

// /* 番組概要 */
// .progtitle > .summary,
// .progtitle > .tv {
//     color: #888 !important;
// }

// /* マイリストボタン */
// .programlist a.like {
//     filter: brightness(0.2);
// }

// /* ヘッダー */
// header#globalheader {
//     background: var(--ok-bg-acrylic);
//     backdrop-filter: var(--ok-bg-acrylic-filter);
// }

// /* ヘッダーのロゴ */
// #globalheader h1:before {
//     filter: grayscale(1) contrast(.6);
// }

// /* ヘッダー上部メニュー */
// #globalnav .nav2-1 li a {
//     color: var(--ok-link-color)
// }
// /* ヘッダー上部メニューロゴ */
// #globalnav .nav2-1 li a:before {
//     filter: grayscale(1)
// }

// /* ヘッダーの検索欄 */
// #globalnav .searchbox label,
// #globalnav .searchbox input {
//     background: rgba(255, 255, 255, .2);
// }

// /* ヘッダーのTwitterとFBのボタン */
// #globalheader.fixed .nav2 {
//     display: none;
// }
// #globalnav li.m-fb,
// #globalnav li.m-tw {
//     display: none
// }

// /* ヘッダー下部メニュー */
// #globalnav .nav1 li a.this {
//     color: #fff;
// }
// #globalnav .nav1 li a.this:after {
//     background: #fff;
// }