// ヘッダー1
#unvHeader
    background #0002
    border-bottom 1px solid #fff1

// ヘッダー2
#headerTop
    background #0002
    border-bottom 1px solid #fff1

// ヘッダー3
#headerBtm
    background #0000
    border none

// カテゴリメニューのボタン
.hBtmNav
    border 1px solid #fff3;
    background #0006

// 検索欄
#srcWindow
    background #0004

/* search select button */
#srcCateSelect .cateSlctDisplay {
    border-color: #000 #444 #444 #000;
    background: #0006
}

#srcWindow .srcIptInner {
    border-left: 1px solid #fff2
}

/* category menu body */
.cateNavBox {
    background: #0004;
    border-color: #fff1
}